* {
    scroll-behavior: smooth;
}

.Content {
    overflow: hidden;
    background-color: #23272A;
    position: relative;
    top: 0px;
    height: 2600px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.Top {
    width: 1500px;
    height: 700px;
}



.Others {
    background-color: #2C2F33;
    font-family: 'tradegothiclt-bold', sans-serif;
    font-size: 30px;
    color: #D2DBFF;
    width: 125px;
    height: 60px;
    position: relative;
    top: -310px;
    left: 428px;
    border-radius: 15px;
    border-radius: 15px;
    padding: 32px, 64px;
    display: inline-block;
    text-decoration: none;
    line-height: 60px;
    text-indent: 18px;
}

.Others:hover {
    transition-duration: 0.3s;
    transform: translateY(-5px);
}

.Others:not(:hover) {
    transition-duration: 0.3s;
    transform: translateY(5px);
}

.sbhome {
    background-color: #2C2F33;
    font-family: 'tradegothiclt-bold', sans-serif;
    font-size: 30px;
    color: #D2DBFF;
    width: 125px;
    height: 60px;
    position: relative;
    top: -250px;
    left: 160px;
    border-radius: 15px;
    border-radius: 15px;
    padding: 32px, 64px;
    display: inline-block;
    text-decoration: none;
    line-height: 60px;
    text-indent: 24px;
}

.button {
    scroll-behavior: smooth;
    scroll-margin-bottom: 100px;
    background-color: #2C2F33;
    font-family: 'tradegothiclt-bold', sans-serif;
    font-size: 30px;
    color: #D2DBFF;
    width: 125px;
    height: 60px;
    position: relative;
    top: -250px;
    align-content: center;
    left: 165px;
    border-radius: 15px;
    text-indent: 10px;
    border-radius: 15px;
    padding: 32px, 64px;
    display: inline-block;
    text-decoration: none;
    line-height: 60px;
    transition: all 0.5s;
    cursor: pointer;
}

.Profiles {
    position: absolute;
    resize: 10px;
    top: 20px;
    left: 190px;
}

.github {
    position: absolute;
    top: 200px;
    left: 445px;
    color: #738ADB;
    font-size: 63px;
    outline: none;
}

.discord {
    position: absolute;
    top: 204px;
    left: 530px;
    color: #738ADB;
    font-size: 61px;
    outline: none;
}

.SkUnity {
    position: absolute;
    top: 206px;
    left: 607px;
    color: #738ADB;
    font-size: 53px;
    outline: none;
}

.sutt {
    color: #D2DBFF;
    position: absolute;
    font-size: 15px;
    left: 12px;
    top: 60px;
    visibility: hidden;
    font-family: 'tradegothiclt-bold', sans-serif;
}

.ghtt {
    color: #D2DBFF;
    position: absolute;
    font-size: 15px;
    left: -7px;
    top: 60px;
    visibility: hidden;
    font-family: 'tradegothiclt-bold', sans-serif;
}

.dctt {
    color: #D2DBFF;
    position: absolute;
    font-size: 15px;
    left: -35px;
    top: 60px;
    visibility: hidden;
    font-family: 'tradegothiclt-bold', sans-serif;
}

.pfp {
    color: #D2DBFF;
    position: absolute;
    font-size: 15px;
    left: 100px;
    top: 250px;
    visibility: hidden;
    font-family: 'tradegothiclt-bold', sans-serif;
}

.Profiles:hover {
    transition-duration: 0.3s;
    transform: translateY(-10px);
}

.Profiles:not(:hover) {
    transition-duration: 0.3s;
    transform: translateY(10px);
}

.Profiles:hover .pfp {
    visibility: visible;
}

.github:hover {
    transition-duration: 0.3s;
    transform: translateY(5px);
}

.discord:hover {
    transition-duration: 0.3s;
    transform: translateY(7px);
}

.SkUnity:hover {
    transition-duration: 0.3s;
    transform: translateY(7px);
}

.github:hover .ghtt {
    visibility: visible;
}

.discord:hover .dctt {
    visibility: visible;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.SkUnity:hover .sutt {
    visibility: visible;
}

.SkUnity:not(:hover) {
    transition-duration: 0.3s;
    transform: translateY(20px)
}

.github:not(:hover) {
    transition-duration: 0.3s;
    transform: translateY(20px)
}

.discord:not(:hover) {
    transition-duration: 0.3s;
    transform: translateY(20px)
}

.iconbottom {
    position: absolute;
    bottom: 100px;
    right: 200px;
    color: #738ADB;
    font-size: 60px;
    outline: none;
}

.html, body {
    margin: 0px;
    height: 2000px;
}


.JMethod {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .11115em;
    animation: typing 2s steps(35, end), blink-caret 0.7s step-end infinite;
    animation-timing-function: typing ease-in-out;
    text-indent: 200px;
    font-size: 50px;
    position: absolute;
    color: #D2DBFF;
    top: 280px;
    font-family: 'tradegothiclt-bold', sans-serif;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 71%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    80% {
        border-color: rgb(204, 161, 21)
    }
}

.Middle {
    background-color: #1F2225;
    width: 100%;
    top: 100px;
    height: 900px;
    scroll-behavior: smooth;
}

.AMHeading {
    color: #D2DBFF;
    position: absolute;
    top: 800px;
    text-indent: 730px;
    font-size: 80px;
    font-family: 'tradegothiclt-bold', sans-serif;
}

.Aboutme {
    font-family: Arial, Helvetica, sans-serif;
    color: #D2DBFF;
    position: absolute;
    text-align: center;
    background-color: #2C2F33;
    width: 300px;
    height: 600px;
    top: 1050px;
    left: 100px;
    border-radius: 15px;
    font-size: 20px;
}

.Aboutme:hover {
    transition: 0.75s;
    transform: translateY(-15px);
    box-shadow: #121314;
}

.Aboutme:not(hover) {
    transition: 0.5s;
    transform: translateY(15x);
}

.sbhome:hover {
    transition-duration: 0.3s;
    transform: translateY(-5px);
}

.sbhome:not(:hover) {
    transition-duration: 0.3s;
    transform: translateY(5px);
}

.button:hover {
    transition-duration: 0.3s;
    transform: translateY(-5px);
}

.button:not(:hover) {
    transition-duration: 0.3s;
    transform: translateY(5px);
}

.paragraph1 {
    letter-spacing: 1.5px;
}

.FoldersBlock {
    text-overflow: ellipsis;
    position: relative;
    border-radius: 15px;
    background-color: #1D1F22;
    left: 500px;
    top: 200px;
    height: 600px;
    width: 1200px;
}

.TextBlock {
    text-overflow: ellipsis;
    position: relative;
    border-radius: 15px;
    left: 200px;
    top: -620px;
    height: 600px;
    width: 900px;
}

.FoldersSidebar {
    position: relative;
    background-color: #121417;
    border-radius: 8px;
    left: -25px;
    width: 250px;
    height: 100%;
}

.FoldersSidebar:hover {
    transition-duration: 0.85s;
    transform: translateX(-1px);
}

.FoldersSidebar:not(:hover) {
    transition-duration: 0.85s;
    transform: translateX(1px);
}

.Folderslisticon {
    display: inline-block;
    color: #738ADB;
    font-size: 50px;
    top: 20px;
    left: 30px;
}

.Firstfolder {
    position: relative;
    top: 30px;
    left: 20px;
}

.Secondfolder {
    border: 10px solid #121417;
    background-color: #121417;
    position: relative;
    font-size: 50px;
    top: -100px;
    left: 70px;
}

.Secondfoldername {
    width: 125px;
    visibility: hidden;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    bottom: 40px;
    left: 45px;
}

.Secondfolder:hover .Secondfoldername{
    visibility: visible;
}

.line1 { 
    position: relative;
    border-left: 1px solid #2E2F32;
    border-bottom: 1px solid #2E2F32;
    top: 10px;
    height: 70px;
    left: 50px;
}

.line2 { 
    position: relative;
    border-left: 1px solid #2E2F32;
    border-bottom: 1px solid #2E2F32;
    top: 40px;
    height: 70px;
    left: 50px;
}


.Firstfolder:hover .Firstfoldername {
    visibility: visible;
}

.Firstfolder:hover {
    transition-duration: 0.25s;
    transform: translateX(-5px);
}

.Firstfolder:not(:hover) {
    transition-duration: 0.3s;
    transform: translateX(5px);
}

.Firstfoldername {
    visibility: hidden;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    bottom: 40px;
    left: 60px;
}

.Secondfolder:hover {
    transition-duration: 0.25s;
    transform: translateX(-10px);
}

.Secondfolder:not(:hover) {
    transition-duration: 0.25s;
    transform: translateX(10px);
}

.Secondfolder:hover .Secondfoldername {
    visibility: visible;
}

.TextDisplays {
    position: relative;
    top: 600px;
    left: -200px;
}

.TextDisplayHeadingSkyier {
    position: relative;
    color: #D2DBFF;
    bottom: 555px;
    font-size: 20px;
    font-family: 'tradegothiclt-bold', sans-serif;
    left: 250px
}

.TextDisplayParagraph {
    letter-spacing: 1px;
    position: relative;
    color: #D2DBFF;
    bottom: 555px;
    font-size: 25px;
    left: 250px
}

.TextDisplayLinksSkyier {
    position: relative;
    color: #D2DBFF;
    bottom: 400px;
    font-size: 25px;
    left: 250px;
    text-decoration: none;
}

.Thirdfoldername {
    visibility: hidden;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    bottom: 40px;
    left: 45px;
}

.Thirdfolder {
    border: 10px solid #121417;
    background-color: #121417;
    position: relative;
    font-size: 50px;
    top: -100px;
    left: 60px;
}

.Thirdfolder:hover {
    transition-duration: 0.25s;
    transform: translateX(-3px);
}

.Thirdfolder:hover .Thirdfoldername {
    visibility: visible;
}

.Thirdfolder:not(:hover) {
    transition-duration: 0.25s;
    transform: translateX(20px);
}

.End {
    top: 100px;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.OthersHeading {
    color: #D2DBFF;
    position: relative;
    text-indent: 730px;
    font-size: 80px;
    font-family: 'tradegothiclt-bold', sans-serif;
    left: 100px;
}

.ExperienceBlock {
    color: #D2DBFF;
    position: relative;
    background-color: #2C2F33;
    width: 300px;
    height: 600px;
    top: -40px;
    left: 100px;
    border-radius: 15px;
    font-size: 20px;
}